<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="questionDao" class = "ru.mskorotkov.spring.dao.QuestionDaoImpl"/>

    <bean id="resourceLoaderService" class="ru.mskorotkov.spring.service.ResourceLoaderService">
        <constructor-arg index="0" ref = "questionDao"/>
        <constructor-arg index="1" value = "questionList.csv"/>
    </bean>
</beans>